/* Add mobile styles for the component here.  */
@import '../../../../ACCommon/styles/common';

.date-picker-layout {
    Label {
        color: $primary;
        font-size: 20;
        vertical-align: middle;
    }

    .far {
        background-color: #fff;
        &.disabled {
            color: $dividing-lines;
        }
    }

    Button {
        color: $primary;
        font-size: 20;
        border-width: 0;
        z-index: 0;
    }
}
