$primary-text: #333333;
$secondary-text: #6d7278;
$dividing-lines: #d8d8d8;
$link-blue: #0091ff;
$error: #e00720;
$border: #979797;

$primary: #593c81;
$cta: #ec5642;
$approval: #038424;

$adl-box: #a23ba8;
$pay-box: #038424;
$iadl-box: #43388c;

$page-icon-color: #D7D7D7 !default;


 // ONLY put varibles here. Do not put any classes or IDs in this file.
