<app-action-bar backBtnText="Back" title="Change Password"></app-action-bar>
<ScrollView>
    <StackLayout appHideKeyboard>
        <app-ac-textfield (valueChanged)="valueChanged($event, 'current')" type="password" text="Current password" [initalPasswordText]="oldPass"></app-ac-textfield>
        <app-ac-textfield (valueChanged)="valueChanged($event, 'new')" type="password" text="New password"></app-ac-textfield>
        <app-ac-textfield (valueChanged)="valueChanged($event, 'confirm')" type="password" text="Confirm new password"></app-ac-textfield>
        <StackLayout orientation="horizontal">
            <Label class="strength-title" text="Password Strength: "></Label>
            <Label class="strength-data" [text]="strengthText" [color]="strengthTextColor"></Label>
        </StackLayout>

        <StackLayout class="requirement m-t-30" [color]="lengthLabelColor" orientation="horizontal">
            <Label text="&#xf058;" class="fas m-r-10" ></Label>
            <Label text="Must be at least 8 characters long"></Label>
        </StackLayout>
        <StackLayout class="requirement" [color]="lettersLabelColor" orientation="horizontal">
            <Label text="&#xf058;" class="fas m-r-10" ></Label>
            <Label text="Must contain upper and lowercase characters"></Label>
        </StackLayout>
        <StackLayout class="requirement m-b-30" [color]="numberSymbolLabelColor" orientation="horizontal">
            <Label text="&#xf058;" class="fas m-r-10"></Label>
            <Label text="Must contain a number and a symbol"></Label>
        </StackLayout>
        <Button class="primary-button-disabled" [isEnabled]="enableBtn"  text="Confirm" (tap)="confirmTap()"></Button>
        <Label *ngIf="errorText" class="validation-error" [text]="errorText"></Label>
    </StackLayout>
</ScrollView>