<app-action-bar [showMessageBubble]="true" [dialogOpen]="dialogOpen"></app-action-bar>
<GridLayout row="*">
    <StackLayout row="0">
        <GridLayout class="custom-tab-container" rows="*, 5" columns="*, *"> <!-- Tabs -->
            <!-- Tab 1 -->
            <Button [class.selected]="selectedTab === 0" row="0" col="0" text="Shift Total" (tap)="tabTap(0)"></Button>
            <StackLayout [class.selected]="selectedTab === 0" row="1" col="0"></StackLayout>

            <!-- Tab 2 -->
            <Button [class.selected]="selectedTab === 1" row="0" col="1" text="Current Period" (tap)="tabTap(1)"></Button>
            <StackLayout [class.selected]="selectedTab === 1" row="1" col="1"></StackLayout>
        </GridLayout>

        <GridLayout *ngIf="selectedTab === 0" rows="*">
            <ScrollView row="0">
                <GridLayout rows="auto, *">
                    <StackLayout row="0">
                        <app-timer [visit$]="visit$"></app-timer>
                    </StackLayout>
                    <StackLayout row="1">
                        <app-checkout-status></app-checkout-status>
                    </StackLayout>
                </GridLayout>
            </ScrollView>
        </GridLayout>

        <StackLayout *ngIf="selectedTab === 1">
            <StackLayout>
                <app-clients-list [showActionBar]="false"></app-clients-list>
            </StackLayout>
        </StackLayout>
    </StackLayout>
    <app-custom-dialog *ngIf="dialogOpen" [data]="dialogData" row="0" rowSpan="2" (dialogClosed)="closeDialog($event)"></app-custom-dialog>
</GridLayout>
