/* Add mobile styles for the component here.  */
@import '../../../../ACCommon/styles/common';

.header {
    background-color: $primary;
    margin-bottom: 2;

    Label {
        color: #ffffff;
        font-size: 16;
    }

    .arrow {
        text-align: center;
        vertical-align: middle;
        padding: 10;
    }
}

.calendar {
    background-color: $primary;

    Label {
        color: #ffffff;
        background-color: $primary;
        font-size: 22;
        padding-top: 20;
        padding-bottom: 20;
        z-index: 99;
    }
}
